@import 'vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

section {
  position: relative;
}

/*********************
TYPOGRAPHY
*********************/

:root {
  font-size: em(16);
}

h1,
h2,
h3,
h4 {
  font-family: $primary-font-family;
}

p {
  font-family: $secondary-font-family;
}
