/*********************
COLOURS
*********************/

$primary-color: #E72623; /* red */
$secondary-color: #F3EDE9; /* light grey */
$tertiary-color: #CECBC9; /* grey */
$quaternary-color: #2B2B2B; /* dark grey */
$quinary-color: #221E1E; /* darker grey */
$font-color: #585454; /* dark grey */

/*********************
SIZES
*********************/

$site-width: 1800px;
